.container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
    /*border-right: 3px solid #dfdfdf;*/
    /*border-left: 3px solid #dfdfdf;*/
    /*padding: 60px;*/
}

body {
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}
